.add-plan {
  position: relative;
  background-color: #d4d9eb;
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 74px;
}

.add-plan__container {
  width: 84.376%;
  margin: 0 auto;
}

.add-plan__header {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #1d2e5b;
  margin-bottom: 29px;
}

.add-plan__step-list {
  @include reset-list;
    position: absolute;
    top: 32px;
    right: -12px;
    display: flex;

    li {
      position: relative;
      font-size: 0;
      line-height: 20px;
      font-weight: 400;
      color: #000000;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 25px;
      opacity: 0.6;
      margin-right: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -42px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #1d2e5b;
      }
    }

    .add-plan__step-active {
      opacity: 1;
    }
}

@media (min-width: $tablet-width) {
  .add-plan {
    margin-top: -57px;
    padding-top: 50px;
    padding-bottom: 79px;
  }

  .add-plan__step-list {
    top: 63px;
    right: 2px;

    li {
      margin-right: 35px;
    }
  }

  .add-plan__container {
    width: 89.6%;
  }

  .add-plan__header {
    font-size: 36px;
    line-height: 50px;
    margin-left: 35px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .add-plan {
    margin-top: -57px;
    padding-top: 49px;
    padding-bottom: 85px;
  }

  .add-plan__step-list {
    display: none;
  }

  .add-plan__container {
    width: 1320px;
  }

  .add-plan__header {
    margin-left: 69px;
  }
}
