.catalog-nav {
  @include reset-list;
  display: flex;
}

.catalog-nav__item {
  margin-right: 2px;
}

.catalog-nav__btn {
  width: 135px;
  height: 50px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 10px 24px;
  background-position: center;

  &--back {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("../../img/triangle-arrow-left.svg");
  }

  &--next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("../../img/triangle-arrow-right.svg");
  }
}
