.countries-select {
  @include reset-list;
}

.countries-select__item {
  display: flex;
  margin-bottom: 21px;
  position: relative;
}

.countries-select__dropdown {
  position: relative;
  display: flex;
  flex-shrink: 0;
  border: 1px solid #cbced9;
  border-radius: 4px;
  width: 169px;
  height: 43px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #1d2e5b;
  text-transform: uppercase;
  align-items: center;
  padding-left: 11px;
  padding-top: 2px;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 16px;
    right: -5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1d2e5b;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: -3px;
    width: 5px;
    height: 10px;
    background-image: url("../../img/small-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    border: 1px solid #959bb2;

    .countries-select__dropdown-btn {
      opacity: 0.5;
    }
  }

  &--choose {
    width: 222px;

    &::before {
      right: 48px;
      background-color: transparent;
      border: 1px solid #cdd0db;
    }

    &::after {
      right: 50px;
    }
  }

  &--add {
    width: 222px;
    background-color: #edeff6;
    border: none;

    &::before {
      right: 48px;
      background-color: transparent;
      border: 1px solid #cdd0db;
    }

    &::after {
      display: none;
    }

    &:hover {
      border: none;
      background-color: #dfe3f0;
    }

    &:active {
      color: rgba($color: #1d2e5b, $alpha: 0.1);

      .countries-select__dropdown-btn {
        opacity: 0.1;
      }
    }
  }

  &--active {
    background-color: #1d2e5b;
    color: #ffffff;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      display: none;
    }

    .countries-select__clear-btn {
      display: none;
    }

    .countries-select__dropdown-btn {
      background-image: url("../../img/small-cross.svg");
      width: 9px;
      height: 9px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }
  }
}

.countries-select__flag-wrapper {
  width: 53px;
  height: 43px;
  position: relative;
  display: flex;
  border: 1px solid #cbced9;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.countries-select__country-text {
  width: 140px;
  height: 20px;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.countries-select__dropdown-btn {
  border: none;
  background-color: transparent;
  width: 12px;
  height: 7px;
  background-image: url("../../img/dropdown-form.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: 14px;
  opacity: 0.3;

  &--add {
    width: 14px;
    height: 14px;
    background-image: url("../../img/show-more-plus.svg");
  }
}

.countries-select__clear-btn {
  top: -10px;
  right: -10px;
  position: absolute;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  background-color: #edeff6;
  border: none;
  background-image: url("../../img/menu-close.svg");
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-position: center;
  opacity: 0.1;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.05;
  }
}

.countries-select__modal-wrapper {
  display: none;
  position: absolute;
  z-index: 8;
  top: 43px;
  left: 0;
  width: 222px;
  background-color: #ffffff;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  border: 1px solid #cbced9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 15px;

  &--show {
    display: block;
  }
}

.countries-select__letters {
  input:checked + label {
    background-color: #edeff6;
    color: #1d2e5b;
  }

  label:hover {
    border: 1px solid #959bb2;
  }
}

.countries-select__list {
  @include reset-list;
  margin-top: 15px;
  margin-left: 20px;
}

.countries-select__list-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  cursor: pointer;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    color: #1d2e5b;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .countries-select {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -42px;
      width: 528px;
      height: 1px;
      background-color: #d6d9e6;
    }

    &::after {
      content: "";
      position: absolute;
      left: 396px;
      top: -42px;
      width: 1px;
      height: 410px;
      background-color: #d6d9e6;
    }
  }

  .countries-select__item {
    margin-bottom: 15px;
  }

  .countries-select__dropdown {
    width: 370px;
    height: 70px;
    font-size: 20px;
    line-height: 18px;
    padding-left: 25px;
    padding-top: 3px;

    &::before {
      top: 25px;
      right: -35px;
      width: 15px;
      height: 15px;
    }

    &::after {
      display: none;
    }

    &--choose {
      width: 370px;

      &::before {
        background-color: #ffffff;
      }

      .countries-select__clear-btn {
        right: -170px;
      }
    }

    &--add {
      width: 370px;

      &::before {
        background-color: #edeff6;
      }
    }

    &--active {
      .countries-select__dropdown-btn {
        width: 16px;
        height: 16px;
      }
    }
  }

  .countries-select__flag-wrapper {
    width: 120px;
    height: 70px;
    border: none;
    margin-left: 28px;

    svg {
      width: 70px;
      height: 47px;
    }
  }

  .countries-select__country-text {
    width: fit-content;
  }

  .countries-select__dropdown-btn {
    width: 17px;
    height: 9px;
    margin-left: auto;
    margin-right: 25px;

    &--add {
      width: 18px;
      height: 18px;
      margin-bottom: 4px;
    }
  }

  .countries-select__clear-btn {
    top: 22px;
    right: -20px;
    width: 23px;
    height: 23px;
    background-color: transparent;
    background-size: 20px 20px;
  }

  .countries-select__modal-wrapper {
    display: none;
    top: 70px;
    width: 575px;
    border: none;
    padding: 35px 29px;
    padding-bottom: 35px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #eaecf2;
      top: 0;
      right: 205px;
    }

    &--show {
      display: flex;
    }
  }

  .countries-select__list {
    @include reset-list;
    margin-top: 0;
    margin-left: 21px;
  }

  .countries-select__list-item {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (min-width: $desktop-width) {
  .countries-select {
    &::before {
      top: -64px;
      width: 997px;
    }

    &::after {
      left: 774px;
      top: -64px;
      height: 510px;
    }
  }

  .countries-select__item {
    margin-bottom: 15px;
  }

  .countries-select__dropdown {
    width: 730px;
    height: 70px;
    font-size: 20px;
    line-height: 18px;
    padding-left: 25px;
    padding-top: 3px;

    &::before {
      top: 24px;
      right: -53px;
    }

    &--choose {
      .countries-select__clear-btn {
        right: -265px;
      }
    }

    &--add {
      width: 730px;
    }
  }

  .countries-select__country-text {
    overflow: visible;
  }

  .countries-select__flag-wrapper {
    margin-left: 60px;
  }

  .countries-select__clear-btn {
    top: 22px;
    right: -85px;
  }

  .countries-select__modal-wrapper {
    display: none;
    width: 730px;
    padding: 34px 28px;
    padding-bottom: 17px;

    &::after {
      right: 240px;
    }

    &--show {
      display: flex;
    }
  }

  .countries-select__list {
    @include reset-list;
    margin-top: 0;
    margin-left: 32px;
  }
}
