.footer-socials {
  @include reset-list;
  display: flex;
  align-items: flex-end;
  width: 140px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffd74b;
  width: 45px;
  height: 45px;
  color: #1d2e5b;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba($color: #1d2e5b, $alpha: 0.3);
  }

  &--index {
    &:hover {
      background-color: #192144;
      color: #ffffff;
    }

    &:active {
      color: rgba($color: #ffffff, $alpha: 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .footer-socials {
    width: 190px;
  }

  .footer-socials__item {
    width: 60px;
    height: 60px;

    &--facebook {
      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--vk {
      svg {
        width: 31px;
        height: 16px;
      }
    }

    &--instagram {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
