.footer-socials {
  @include reset-list;
  display: flex;
  align-items: flex-end;
  width: 140px;
  margin: 0 auto;
}

.footer-socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffd74b;
  width: 45px;
  height: 45px;
  color: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .footer-socials__item {
    width: 60px;
    height: 60px;

    &--facebook {
      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--vk {
      svg {
        width: 31px;
        height: 16px;
      }
    }

    &--instagram {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
