.header-socials {
  @include reset-list;
  display: flex;
  width: 140px;
  margin: 0 auto;
}

.header-socials__item {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;

  &--fb {
    background-image: url("../../img/facebook.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../../img/vk.svg");
    background-size: 23px 12px;
  }

  &--inst {
    background-image: url("../../img/instagram.svg");
    background-size: 18px 18px;
  }
}
