.header-socials {
  @include reset-list;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.header-socials__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: #cccccc;
}

@media (min-width: $tablet-width) {
  .header-socials__item {
    margin-right: 15px;

    &--facebook {
      svg {
        width: 14px;
        height: 28px;
      }
    }
  }
}
