.page-header__menu-wrapper {
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 115px;
  width: 100%;
  min-height: 570px;
  z-index: 19;

  &--no-js {
    display: flex;

    & + .page-header__menu-btn {
      display: none;
    }
  }

  &--show {
    display: flex;

    & + .page-header__menu-btn {
      background-image: url("../../img/menu-close.svg");
      background-size: 19px 19px;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3;

      svg {
        display: none;
      }
    }
  }
}

.page-header {
  position: relative;
  background-color: $bg-darkblue;
  padding-top: 27px;
  padding-bottom: 20px;

  &--catalog {
    padding-top: 20px;
    padding-bottom: 0;
    z-index: 2;

    .page-header__actions {
      display: none;
    }
  }
}

.page-header__container {
  width: 84.376%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header__logo {
  &--blue {
    display: none;
    position: fixed;
    top: 28px;
    left: 7.8%;
    z-index: 20;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 73px;
      background-color: #ffffff;
      z-index: -1;
    }
  }

  &--show {
    display: block;
  }
}

.page-header__menu-btn {
  z-index: 20;
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  margin-top: -8px;
  margin-right: -4px;

  &--scroll {
    color: #cccccc;
    position: fixed;
    top: 27px;
    right: 7.7%;
  }
}

.page-header__top-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__header {
  position: relative;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 46px;
  margin-bottom: 10px;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    background-color: rgb(255, 141, 48);
    width: 100%;
    height: 5px;
    top: 47px;
    left: 0;
  }
}

.page-header__actions {
  position: absolute;
  bottom: -451px;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__main-btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__menu-wrapper {
    min-height: 912px;
  }

  .page-header {
    background-color: #182044;
    padding-top: 40px;
    padding-bottom: 42px;

    &--catalog {
      padding-bottom: 52px;
    }

    .page-header__actions {
      display: flex;
    }
  }

  .page-header__container {
    width: 89.6%;
  }

  .page-header__logo {
    &--blue {
      top: 45px;
      left: 5.1%;

      &::after {
        height: 131px;
      }
    }
  }

  .page-header__menu-btn {
    &--scroll {
      top: 52px;
      right: 48.3%;
    }
  }

  .page-header__actions {
    position: relative;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    z-index: 20;

    &--scroll {
      position: fixed;
      top: 40px;
      left: 70%;
    }
  }

  .page-header__header {
    font-size: 60px;
    line-height: 70px;
    margin-top: 129px;
    margin-left: 34px;

    &::after {
      top: 129px;
    }
  }

  .page-header__bottom-wrapper {
    display: flex;
  }

  .page-header__main-btn {
    display: inline-block;
    margin-left: auto;
    margin-right: 32px;
    margin-top: 155px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    background-image: url("../../img/return.svg");
    background-repeat: no-repeat;
    background-size: 32px 16px;
    background-position: top 0 right 4px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__menu-wrapper {
    display: inline-flex;
    position: relative;
    min-height: 0;
    padding: 0;
    background-color: transparent;
    z-index: 21;
  }

  .page-header {
    background-color: $bg-darkblue;
    padding-bottom: 20px;
    padding-top: 0;

    &--catalog {
      padding-bottom: 51px;
    }

    &--form {
      position: static;

      .page-header__header {
        width: 358px;
      }
    }
  }

  .page-header__top-wrapper {
    padding-top: 50px;

    &--scroll {
      padding-top: 60px;
    }
  }

  .page-header__container {
    width: 1320px;
  }

  .page-header__logo {
    width: 290px;
    height: 52px;
    margin-top: -10px;

    &--blue {
      top: 33px;
      left: 5.1%;

      &::after {
        height: 91px;
      }
    }
  }

  .page-header__menu-btn {
    display: none;
  }

  .page-header__actions {
    &--scroll {
      top: 20px;
      left: 75.8%;
    }
  }

  .page-header__header {
    margin-top: 116px;
    margin-left: 66px;
  }

  .page-header__main-btn {
    margin-top: 143px;
    margin-right: 60px;
  }
}
