.profile {
  background-color: #edeff6;
  padding-top: 52px;
  padding-bottom: 60px;
  margin-top: -30px;
}

.profile__container {
  position: relative;
  width: 270px;
  margin: 0 auto;
}

.profile__level {
  width: 100px;
  height: 100px;
  background-color: transparent;
  left: 7%;

  .level__number {
    color: #161c35;
    font-size: 38px;
    line-height: 38px;
    margin-top: 20px;

    &::after {
      font-size: 18px;
      bottom: 20px;
      left: 5px;
    }

    &::before {
      width: 49px;
      height: 2px;
      background-color: #c3c8d8;
      top: 40px;
    }
  }

  .level__circle {
    stroke-width: 2px;
  }
}

.profile__photo {
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 57%;
}

.profile__photo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 270px;
  height: 40px;
  border: none;
  background-color: #dfe3f0;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #161c35;
  margin-bottom: 30px;

  &:hover {
    background-color: #d1d7e9;
  }

  &:active {
    color: rgba($color: #1d2e5b, $alpha: 0.3);
  }
}

.profile__btn-text--desktop {
  display: none;
}

.profile__tags {
  position: relative;
  width: 270px;
  padding: 0;
  margin-bottom: 18px;

  textarea {
    background-color: #edeff6;
    border: 1px solid #cbced9;
    border-radius: 10px;
    resize: none;
    width: 100%;
    line-height: 20px;
    padding: 24px 24px;
    outline: none;

    &:hover {
      border: 1px solid #aeb4cb;
    }

    &:focus {
      border: 1px solid #161c35;
    }
  }
}

.profile__header {
  position: absolute;
  top: -23px;
  left: 97px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #1d2e5b;
  text-transform: uppercase;
  z-index: 2;
  background-color: #edeff6;
  padding: 0 19px;

  &--transport {
    top: -24px;
    left: 74px;
  }
}

.profile__transport {
  position: relative;
  width: 270px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  padding: 14px 25px;
}

.profile__transport-list {
  justify-content: center;

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input:checked + label {
    color: rgba($color: #1d2e5b, $alpha: 1);

    &:active {
      color: rgba($color: #1d2e5b, $alpha: 0.3);
    }
  }

  input:focus + label {
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }

  .transport-list__item {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    margin-right: 0;

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      color: rgba($color: #000000, $alpha: 0.3);
    }

    &:active {
      box-shadow: none;
      background-color: #e2e5f1;
      color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

@media (min-width: $tablet-width) {
  .profile {
    margin-top: -55px;
    padding-top: 119px;
    padding-bottom: 115px;
  }

  .profile__container {
    width: 688px;
    display: flex;
    flex-wrap: wrap;

    picture {
      order: 3;
    }
  }

  .profile__level {
    position: relative;
    left: -2px;
    order: 1;
    margin-left: 37px;
    width: 94px;
    height: 94px;
    margin-right: 27px;

    .level__number {
      &::after {
        bottom: 16px;
        left: 4px;
      }
    }
  }

  .profile__header {
    font-size: 20px;
    line-height: 18px;
    top: 66px;
    left: 263px;
    letter-spacing: 0.07em;

    &--transport {
      top: 65px;
      left: 77px;
    }
  }

  .profile__transport {
    order: 2;
    width: 308px;
    margin-left: 30px;
    margin-bottom: 22px;
    padding: 24px 40px;
    padding-left: 50px;
    margin-right: 8px;
  }

  .profile__transport-list {
    .transport-list__item {
      width: 43px;
      height: 43px;
      margin-right: 8px;
    }
  }

  .profile__photo {
    order: 3;
    border-radius: 10px;
    width: 94px;
    height: 94px;
  }

  .profile__photo-btn {
    order: 4;
    width: 618px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 53px;
  }

  .profile__tags {
    order: 5;
    margin: 0 auto;
    width: 618px;

    textarea {
      font-size: 20px;
      line-height: 24px;
      width: 100%;
      padding: 31px 38px;
      padding-bottom: 13px;
    }
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-top: 0;
    padding-bottom: 97px;
    margin-top: 0;
  }

  .profile__container {
    width: 1320px;

    picture {
      order: 2;
      z-index: 3;
      display: flex;
    }
  }

  .profile__level {
    order: 1;
    margin-left: 897px;
    margin-top: 46px;
    margin-right: 48px;
    z-index: 2;
    position: absolute;
    top: -190px;

    .level__number {
      color: #ffffff;
    }
  }

  .profile__photo {
    width: 190px;
    height: 190px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    margin-left: -4px;
    z-index: 2;
    position: absolute;
    top: -190px;
    right: 95px;
  }

  .profile__photo-btn {
    order: 3;
    width: 190px;
    height: 47px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 1035px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .profile__tags {
    width: 730px;
    order: 4;
    margin-left: 64px;
    margin-bottom: 21px;
    margin-right: 112px;

    textarea {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 14px;
    }
  }

  .profile__header {
    left: 18px;

    &--transport {
      left: 115px;
    }
  }

  .profile__transport {
    order: 5;
    margin-right: 0;
    width: 384px;
    padding-left: 47px;
    padding-bottom: 15px;
    margin-bottom: 27px;
  }

  .profile__transport-list {
    .transport-list__item {
      margin-right: 0;
    }
  }

  .profile__btn-text {
    display: none;

    &--desktop {
      display: inline-block;
    }
  }
}
