.range__block {
  position: relative;
  width: 220px;
  height: 2px;
  background-color: #d2b54e;
  margin-top: 24px;
  margin-bottom: 28px;
}

.range__inputs {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 3px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 102px;
    width: 16px;
    height: 11px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 102px;
    width: 16px;
    height: 1px;
    background-color: #cbced9;
  }
}

.range__input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(203, 206, 217);
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 35px;
  font-size: 15px;
  line-height: 15px;
  font-weight: 500;
  color: #1d2e5b;
  text-align: center;
  padding-top: 5px;

  &--min {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}


.range__line {
  width: 144px;
  height: 2px;
  margin-left: auto;
  background-color: #1d2e5b;
}

.range__min-toggle {
  position: absolute;
  border-radius: 50%;
  top: -4px;
  left: 66px;
  width: 10px;
  height: 10px;
  background-color: #1d2e5b;
  cursor: pointer;
}

.range__max-toggle {
  position: absolute;
  border-radius: 50%;
  top: -4px;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #1d2e5b;
  cursor: pointer;
}

@media (min-width: $tablet-width) and (max-width: $tablet-maxwidth) {
  .range {
    display: flex;
  }

  .range__block {
    width: 277px;
    height: 3px;
  }

  .range__line {
    width: 201px;
    height: 3px;
  }

  .range__inputs {
    order: 2;
    margin-left: 70px;

    &::before {
      top: 15px;
      left: 65px;
      width: 21px;
      height: 15px;
    }

    &::after {
      top: 22px;
      left: 65px;
      width: 21px;
      height: 1px;
    }
  }

  .range__input {
    width: 75px;
    height: 46px;
    font-size: 20px;
    line-height: 18px;
  }

  .range__min-toggle {
    width: 13px;
    height: 13px;
    top: -5px;
    left: 69px;
  }

  .range__max-toggle {
    width: 13px;
    height: 13px;
    top: -5px;
    right: -10px;
  }
}

@media (min-width: $desktop-width) {
  .range__block {
    width: 191px;
    height: 3px;
  }

  .range__line {
    width: 125px;
    height: 3px;
  }

  .range__inputs {
    margin-top: 7px;
    margin-bottom: 37px;

    &::before {
      top: 15px;
      left: 85px;
      width: 21px;
      height: 15px;
    }

    &::after {
      top: 22px;
      left: 85px;
      width: 21px;
      height: 1px;
    }
  }

  .range__input {
    width: 95px;
    height: 45px;
    font-size: 20px;
    line-height: 18px;
  }

  .range__min-toggle {
    width: 13px;
    height: 13px;
    top: -5px;
    left: 60px;
  }

  .range__max-toggle {
    width: 13px;
    height: 13px;
    top: -5px;
    right: 0;
  }
}
