.tag-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  justify-content: center;
}

.tag-list__item {
  margin-right: 3px;
  text-decoration: none;
  color: #444444;
  line-height: 18px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .tag-list__item {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .tag-list {
    width: 220px;
    line-height: 20px;
  }
}
