.transport-list {
  @include reset-list;
  display: flex;
}

.transport-list__item {
  width: 24px;
  height: 24px;
  margin-right: 13px;
  background-repeat: no-repeat;
  background-position: center;

  &--plane {
    background-image: url("../../img/plane.svg");
    background-size: 19px 21px;
  }

  &--bus {
    background-image: url("../../img/bus.svg");
    background-size: 17px 21px;
  }

  &--bicycle {
    background-image: url("../../img/bike.svg");
    background-size: 24px 21px;
  }

  &--onfoot {
    background-image: url("../../img/run.svg");
    background-size: 20px 21px;
  }

  &--catalog {
    border-radius: 50%;
    width: 33px;
    height: 32px;
    background-color: #edeff6;
    background-size: 42%;
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: 1439px) {
  .transport-list__item {
    width: 43px;
    height: 43px;
  }
}
