.travelmate-card {
  position: relative;
  margin-bottom: 10px;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    .travelmate-card__photo {
      transform: scale(1.1);
      transition: 0.3s;
    }
  }
}

.travelmate-card__level {
  position: absolute;
  top: 18px;
  left: 17px;
}

.travelmate-card__photo {
  width: 270px;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
}

.travelmate-card__photo-wrapper {
  overflow: hidden;
  width: 270px;
  height: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.travelmate-card__footer {
  width: 270px;
  position: relative;
  padding-top: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travelmate-card__countries-list {
  @include reset-list;
  display: flex;
  position: absolute;
  left: 50%;
  top: -13px;
  transform: translateX(-50%);
}

.travelmate-card__country {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 18%;

    @include triangle(top, 14px, 13px, #101d41);
    display: none;
    z-index: 2;
  }

  &::after {
    content: attr(data-hover);
    display: none;
    position: absolute;
    top: 130%;
    left: -135%;
    width: 135px;
    height: 57px;
    padding: 23px 15px;
    justify-content: center;
    align-items: center;
    background-color: #101d41;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    z-index: 2;
  }

  &:hover {
    &::before {
      display: block;
    }

    &::after {
      display: flex;
    }
  }
}

.travelmate-card__country:not(:last-child) {
  margin-right: 20px;
}

.travelmate-card__name {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #1d2e5b;
  font-weight: 700;
  margin-bottom: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -15px;
    border-radius: 50%;
    background-color: #f97676;
    width: 5px;
    height: 5px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }
}

.travelmate-card__tags {
  margin-bottom: 17px;
  height: 35px;
  width: 190px;

  li {
    height: 15px;
  }
}

.travelmate-card__transport {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .travelmate-card {
    width: 285px;
  }

  .travelmate-card__footer {
    width: 285px;
    height: 197px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 28px;
  }

  .travelmate-card__photo {
    width: 285px;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travelmate-card__photo-wrapper {
    overflow: hidden;
    width: 285px;
    height: 285px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travelmate-card__name {
    font-size: 24px;
    line-height: 24px;

    &::before {
      left: -21px;
      width: 7px;
      height: 7px;
    }
  }

  .travelmate-card__tags {
    width: 220px;
    margin-bottom: 42px;

    li {
      height: 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmate-card {
    margin-right: 50px;
  }

  .travelmate-card:nth-child(even) {
    margin-right: 0;
  }

  .travelmate-card__footer {
    padding-top: 32px;
  }

  .travelmate-card__name {
    margin-bottom: 20px;
  }

  .travelmate-card__tags {
    margin-bottom: 36px;
  }

  .travelmate-card__transport {
    margin-left: 5px;
  }

  .travelmate-card__level {
    position: absolute;
    top: 25px;
    left: 22px;
  }
}
