.user-actions {
  @include reset-list;
  display: flex;
}

.user-actions__contacts {
  display: inline-block;
  border-radius: 50%;
  background-color: #ff8d30;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;

  &--phone {
    background-image: url("../../img/topmenu-phone.svg");
  }

  &--email {
    background-color: #ffbd30;
    background-image: url("../../img/topmenu-mail.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-actions__auth-btn {
  display: inline-flex;
  border-radius: 25px;
  background-color: #ffd74b;
  width: 189px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $bg-darkblue;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .user-actions__auth-btn {
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .user-actions__contacts {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
