.user-actions {
  @include reset-list;
  display: flex;
}

.user-actions__contacts {
  display: inline-block;
  border-radius: 50%;
  background-color: #ff8d30;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

.user-actions__auth-btn {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  display: inline-block;
  border-radius: 25px;
  background-color: #ffd74b;
  width: 189px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $bg-darkblue;
  padding-top: 3px;
}

.user-actions__contacts--phone {
  background-image: url("../../img/topmenu-phone.svg");
}

.user-actions__contacts--email {
  background-color: #ffbd30;
  background-image: url("../../img/topmenu-mail.svg");
}
