.user-actions {
  @include reset-list;
  display: flex;
}

.user-actions__contacts {
  display: inline-block;
  border-radius: 50%;
  background-color: #ff8d30;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;

  &--phone {
    background-image: url("../../img/topmenu-phone.svg");
  }

  &--email {
    background-color: #ffbd30;
    background-image: url("../../img/topmenu-mail.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-actions__auth-btn {
  display: inline-flex;
  border-radius: 25px;
  background-color: #ffd74b;
  width: 189px;
  height: 40px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $bg-darkblue;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .user-actions__auth-btn {
    position: relative;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .user-actions {
    height: 50px;
  }

  .user-actions__contacts {
    display: inline-block;
    width: 50px;
    height: 50px;

    &--phone {
      position: relative;
      background-image: none;
    }

    &--email {
      position: relative;
      background-image: none;
    }

    &--phone::after,
    &--email::after {
      position: absolute;
      content: "";
      top: 16px;
      left: 16px;
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: center;
      background-image: url("../../img/topmenu-phone.svg");
    }

    &--email::after {
      background-image: url("../../img/topmenu-mail.svg");
    }

    &--phone:hover {
      background-color: #f26926;
    }

    &--email:hover {
      background-color: #ff8d30;
    }

    &--phone:active,
    &--email:active {
      &::after {
        opacity: 0.3;
      }
    }
  }

  .user-actions__item {
    height: 50px;
  }

  .user-actions__auth-btn:hover {
    background-color: #ffbd30;
  }

  .user-actions__auth-btn:active {
    color: rgba($color: #161c35, $alpha: 0.3);
  }
}
